body {
    background-color: #0385bd;
}

.header {
    margin-top: 12%;
}

button {
    pointer-events: none;
}

.jumbotron {
    background-image: url('../../assets/img/orsted.webp');
    height: 600px;
    margin-top: 1%;
}

.jumbotron h1 {
    bottom: 0;
    color: #00a2e3;
    font-size: 60pt;
    font-weight: bold;
}